AnchorPane{
    -fx-background-color:#595959;
}

Region{
    -fx-background-color:#212A38;
}

MenuBar{
    -fx-background-color:#1f2633;
}

.menu .label{
    -fx-text-fill: #B3B3B3;
}
.menu .menu-item{
    -fx-background-color:#1f2633;
    -fx-border-color:#1f2633;
    -fx-text-fill: #B3B3B3;
    -fx-padding:0px;
}
.menu .menu-item:hover {
    -fx-background-color: darkgray;
}
.menu-item .label:hover {
    -fx-text-fill: black;
}
.napis{
    -fx-text-fill: #B3B3B3;
}

#przycisk{
    -fx-background-color: #273c5e;
    -fx-text-fill: #B3B3B3;
    -fx-border-color: #3c5c8f;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
#przycisk:hover{
    -fx-background-color: #373c5e;
    -fx-text-fill: #C3C3C3;
    -fx-border-color: #3c5c81;
}
#przycisk:armed{
    -fx-background-color: #3C3F6e;
    -fx-text-fill: #C3C3C3;
    -fx-border-color: #5c4c91;
}


#siedzenie{
    -fx-background-color: transparent;

}

#kolumna_numery{
    -fx-alignment: CENTER-RIGHT;
    -fx-background-color:#595959 ;
    -fx-border-color: #595959;
}

#kolumna_numery.table-cell{
    -fx-background-color: #595959;
    -fx-text-fill: white;

}

#kolumna_numery.column-header-background .label{
    -fx-alignment: CENTER-RIGHT;
}

#cell{
    -fx-background-color: #595959;
    -fx-border-color: #595959;
    -fx-padding: 0px;

}

.table-view{
    -fx-background-color: #595959;
    -fx-border-color: #595959;
}

.table-view .column-header-background{
    -fx-background-color: #595959;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}





.table-view *.scroll-bar:vertical *.increment-button,
.table-view *.scroll-bar:vertical *.decrement-button,
.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: red;
}
